<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/style.css')}}">
    <title>Ponderada 3</title>
</head>

<body>
    <h1>Predição de Dor de Cabeça Recorrente</h1>
    <div class="container">
        <form action="/predict" method="POST">
            <label for="age">Idade:</label>
            <input type="number" id="age" name="age" required min="0"><br><br>

            <label for="hypertension">Tem hipertensão:</label>
            <select id="hypertension" name="hypertension" required>
                <option value="0">Não</option>
                <option value="1">Sim</option>
            </select><br><br>

            <label for="heartDisease">Problemas Cardíacoss:</label>
            <select id="heartDisease" name="heart_disease" required>
                <option value="0">Não</option>
                <option value="1">Sim</option>
            </select><br><br>

            <label for="workType">Tipo de trabalho:</label>
            <select id="workType" name="work_type" required>
                <option value="0">Nunca Trabalhou</option>
                <option value="1">Doméstico</option>
                <option value="2">Governamental</option>
                <option value="3">Privado</option>
                <option value="4">Autônomo</option>
            </select><br><br>

            <label for="avgGlucoseLevel">Nível médio de Glicose:</label>
            <input type="number" id="avgGlucoseLevel" name="avg_glucose_level" required min="0"><br><br>

            <label for="bmi">IMC:</label>
            <input type="number" id="bmi" name="bmi" step="0.5" required min="0"><br><br>

            <input type="submit" value="Submit">
        </form>
    </div>
    {% if prediction %}
    <h2>Você tem Dor de Cabeça Recorrente?</h2>
    <p>{{ prediction }}</p>
    {% endif %}
</body>

</html>